<html lang="en">
<%- include('./partials/header.ejs') %>
<body>
<%- include('./partials/nav1_user_calc.ejs') %>

        <div class = "logo">
        <a href="#">TEA Details</a>
        </div>
        </div>
        <div class = "main_container">
        <div class="content">

    <header><h2>&nbsp TEA Details<br></h2>
    <div class ="break"><br></div>
    <div class ="item">
    <h2><%=tea.productName%> </h2>
    <h3> Created At: <%=tea.createdAt %> </h3>
    <p><br></p>
    <p>Product: <%=tea.productName %>, <%=tea.productFormula %>, Theoretical Yield:  <%=tea.productTheorYield %>g/g glucose </p>
    <p><br></p>
    <p> MSP: $<%=tea.productMSP %>/kg @ a Margin of <%=tea.productMargin %>%</p>
    <p> OPEX: $<%=tea.productOPEX %>/kg </p>
    <p> CAPEX: $<%=tea.productCAPEX %>/kg </p>
    <p><br></p>
    <p> Key Input Metrics: </p>
        <li>Rate: <%=tea.productAveVolumtericRate %>g/L-hr </li>
        <li>Titer: <%=tea.productTiter %> g/L</li>
        <li>Ferm. Yield: <%=tea.productYield %> % of theoretical</li>
        <li>DSP Yield: <%=tea.productOverallDSPYield %> %</li>
    <p><br></p>
    <p>Financials for a Selling Price of $<%=tea.productSellingPrice %>/kg :</p>
        <li>      NPV: $<%=(tea.productNPV/1000000).toFixed(2) %>M</li>
        <li>      IRR: <%=tea.productIRR %>%</li>
        <li>      ROI: <%=tea.productROI %>%</li>
        <li>      Total Capital Investment: $<%=tea.productTCI %>M</li>
        <li>      Optimal Capacity: <%=tea.productOptimalPlantCapacity %> kta</li>
    <p><br></p>
    <button class="submit-btn">Export Complete Results</button>
    </div>

<br>
</div>
<br>
<%- include('./partials/nav2.ejs') %>
 <script>
    const trashcan = documents.querySelector('a.delete');
    trashcan.addEventListener('click',(e) => {
        const endpoint = `/processes/$(trashcan.dataset.doc)`;
        fetch(endpoint,{
        method: 'DELETE'
        }).then((response) => response.json()).then((data)) => window.location.href=data.redirect).catch(err => console.log(err));
    })
 </script>

</body>
</html>
