<html lang="en">
<%- include('./partials/header.ejs') %>
<body>
<%- include('./partials/nav1_user.ejs') %>


        <div class = "logo">
        <a href="#">TEA Details</a>
        </div>
        </div>
        <div class = "main_container">
        <div class="content">

    <header><h2>&nbsp TEA Details<br></h2>
    <div class ="break"><br></div>
    <div class ="item">
    <h2><%=tea.productName%> </h2>
    <h3> Created At: <%=tea.createdAt %> </h3>
    <p><br></p>
    <p>Product: <%=tea.productName %>, <%=tea.productFormula %>, Theoretical Yield:  <%=tea.productTheorYield %>g/g glucose </p>
    <p><br></p>
    <p> MSP: $<%=tea.productMSP %>/kg @ a Margin of <%=tea.productMargin %>%</p>
    <p> OPEX: $<%=tea.productOPEX %>/kg </p>
    <p> CAPEX: $<%=tea.productCAPEX %>/kg </p>
    <p><br></p>
    <p> Key Input Metrics: </p>
        <li>Rate: <%=tea.productAveVolumtericRate %>g/L-hr </li>
        <li>Titer: <%=tea.productTiter %> g/L</li>
        <li>Ferm. Yield: <%=tea.productYield %> % of theoretical</li>
        <li>DSP Yield: <%=tea.productOverallDSPYield %> %</li>
    <p><br></p>
    <p>Financials for a Selling Price of $<%=tea.productSellingPrice %>/kg :</p>
        <li>      NPV: $<%=(tea.productNPV/1000000).toFixed(2) %>M</li>
        <li>      IRR: <%=tea.productIRR %>%</li>
        <li>      ROI: <%=tea.productROI %>%</li>
        <li>      Total Capital Investment: $<%=tea.productTCI %>M</li>
        <li>      Optimal Capacity: <%=tea.productOptimalPlantCapacity %> kta</li>
    <p><br></p>
    <button class="submit-btn" id="exportTEA" >Download Complete Results</button>
    </div>

<br>
</div>
<br>
 <script>

   const download =function(data){
       const blob = new Blob([data],{type: 'text/csv'});
       var url = URL.createObjectURL(blob);
       const a = document.createElement('a');
       a.setAttribute('hidden', '');
       a.href =url;
       a.download ='download.csv';
       document.body.appendChild(a);
       a.click();
       document.body.removeChild(a);
   };

    const exportTEA = async function(){
        alert('Export Started');
        console.log('<%=tea.productName %>');
        console.log(<%=tea.productIRR %>);

    const rows = [
          ["Product Name", "<%=tea.productName %>"],
          ["MSP", "<%=tea.productMSP %>", "$/kg"],
          [""],
          ["Chemistry Outputs"],
          ["Formula", "<%=tea.productFormula %>"],
          ["Molecular Weight", "<%=tea.productMW %>", "gram/mole"],
          ["Theoretical Yield", "<%=tea.productTheorYield %>", "gram product/g glucose"],
          ["NH3 Yield Coefficient", "<%=tea.productYieldCoefficientNH3 %>", "gram product/g NH3"],
          ["O2 Yield Coefficient", "<%=tea.productYieldCoefficientNH3 %>", "gram product/g O2"],
          [""],
          ["Financial Outputs"],
          ["Selling Price", "<%=tea.productSellingPrice %>", "$/kg"],
          ["Total Capital Investment (TCI)", "<%=tea.productTCI %>", "$ Million"],
          ["NPV", "<%=tea.productNPV %>", "$"],
          ["IRR", "<%=tea.productIRR %>", "%"],
          ["ROI", "<%=tea.productROI %>", "%"],
          [""],
          ["Process Outputs"],
          ["Optimal Plant Capacity", "<%=tea.productOptimalPlantCapacity %>", "kta"],
          ["OPEX", "<%=tea.productOPEX %>", "$/kg"],
          ["CAPEX", "<%=tea.productCAPEX %>", "$/kg"],
          ["Overall Process Yield", "<%=tea.productOverallYield*100 %>", "%"],
          ["Fermentation Time", "<%=tea.productFermTime %>", "hrs"],
          ["Specific Rate", "<%=tea.productSpRate %>", "g/gCDW-hr"],
          ["Final Biomass Levels", "<%=tea.productFinalBiomass %>", "gCDW/L"],
          ["Maximal Mass Transfer Needed","<%=tea.productMaxOTR %>", "mmoles O2/L-hr" ],
          ["Maximal Kla Needed","<%=tea.productMaxKLA %>", "per sec" ],
          ["Maximal Cooling Needed","<%=tea.productMaxCoolingRate %>", "kJ/hr" ],
          [""],[""],
          ["Financial Inputs"],
          ["Selling Price", "<%=tea.productSellingPrice %>", "$/kg"],
          ["Target Margin", "<%=tea.productMargin %>", "%"],
          ["Payback Period", "<%=tea.productPaybackPeriod %>", "years"],
          ["Discount Rate", "<%=tea.productDiscountRate %>", "%"],
          ["Tax Rate", "<%=tea.productTaxRate %>", "%"],
          ["Percent Debt Financed", "<%=tea.productPercentDebtFinanced %>", "%"],
          ["Debt Interest Rate", "<%=tea.productDebtInterestRate %>", "%"],
          ["Loan Term", "<%=tea.productLoanTerm %>", "years"],
          [""],
          ["Process Inputs"],
          ["Annual Uptime", "<%=tea.productAnnualUptime %>", "hrs"],
          ["Batches On-Spec", "<%=tea.productBatchOnSpec %>", "%"],
          ["Main Fermenter Size", "<%=tea.productVesselSize %>", "Liters"],
          ["Working Volume", "<%=tea.productVesselSize*0.85 %>", "Liters"],
          [""],
          ["Raw Materials"],
          ["Glucose Costs", "<%=tea.productGlucoseCost %>", "$/lb"],
          ["Ammonia Costs", "<%=tea.productAmmoniaCost %>", "$/lb"],
          ["Natural Gas Costs", "<%=tea.productNaturalGasCost %>", "$/MMBtu"],
          ["Electricity Costs", "<%=tea.productElectricityCost %>", "$/KWh"],
          ["CEPCI", "<%=tea.productCEPCI %>"],
          [""],
          ["Fermentation Inputs"],
          ["Average Volumetric Rate", "<%=tea.productAveVolumtericRate %>", "g/L-hr"],
          ["Titer", "<%=tea.productTiter %>", "g/L"],
          ["Fermentation Yield", "<%=tea.productYield %>", "% of Theoretical"],
          ["Titer", "<%=tea.productTiter %>", "g/L"],
          ["Turnaround Time", "<%=tea.productTurnaroundTime %>", "hrs"],
          ["Media Cost", "<%=tea.productMediaCost %>", "$/kgCDW"],
          ["Temperature", "<%=tea.productTemperature %>", "degrees Celsius"],
          [""],
          ["Downstream Purification Inputs"],
          ["Percent of OPEX allocated for DSP ", "<%=tea.productDspPercentofOpex%>", "%"],
          ["Percent of CAPEX allocated  for DSP ", "<%=tea.productDspPercentofCapex%>", "%"],
          ["Titer", "<%=tea.productTiter %>", "g/L"],
          ["Turnaround Time", "<%=tea.productTurnaroundTime %>", "hrs"],
          ["Media Cost", "<%=tea.productMediaCost %>", "$/kgCDW"],
          ["Temperature", "<%=tea.productTemperature %>", "degrees Celsius"],
          [""],[""],
          ["Fermentation Time Course "],
          ["Time (hours)","<%=tea.productFermTimeCourseTime %>" ],
          ["Biomass (gCDW/L)","<%=tea.productFermTimeCourseBiomass %>" ],
          ["Product Titer (g/L)", "<%=tea.productFermTimeCourseProductTiter %>" ],
          [""],[""],
          ["Pro Forma "],
          ["Time (years)","<%=tea.productProFormaTime %>" ],
          ["Revenue ($)","<%=tea.productProFormaRevenue %>" ],
          ["COGS ($)", "<%=tea.productProFormaCOGS %>" ],
          ["Depreciation ($)", "<%=tea.productProFormaDepreciation %>" ],
          ["EBITDA ($)","<%=tea.productProFormaEBITDA %>" ],
          ["EBIT ($)","<%=tea.productProFormaEBIT %>" ],
          ["Loan Principal ($)","<%=tea.productProFormaPrincipal %>" ],
          ["Loan Interest ($)","<%=tea.productProFormaInterest  %>" ],
          ["Taxes ($)","<%=tea.productProFormaTaxes %>" ],
          ["Net Income ($)","<%=tea.productProFormaNetIncome%>" ],
          ["Net Cash Flow ($)","<%=tea.productProFormaNetCashFlow %>" ],
          ["Cumulative Cash Flow ($)","<%=tea.productProFormaCumCashFlow %>" ],
          [""],[""],
          ["Capital Cost BreakDown by Area  "],
          [""],[""],
          ["Main Fermentation","Equipment: $<%=tea.MainFermAreaEquip %>","Total Installed Costs (TIC): $<%=tea.MainFermAreaTIC %>" ],
          ["Production Tanks"],
          ["","Equipment", "Cost","Total Installed Costs (TIC)"],
          ["","Production Fermenters :", "$ <%=tea.fermenterCost %>","$ <%=tea.fermenterTIC %>" ],
          ["","Agitators :", "$ <%=tea.fermenterAgitatorCost %>","$ <%=tea.fermenterAgitatorTIC %>" ],
          ["","Air Blowers :", "$ <%=tea.airBlowerCost %>","$ <%=tea.airBlowerTIC %>" ],
          ["","Transfer Pumps :", "$ <%=tea.FermTransferPumpsCost %>","$ <%=tea.FermTransferPumpsTIC %>" ],
          ["","Piping :", "NA","$ <%=tea.mainFermPiping %>" ],
          ["","Total for Production Tanks:", "$ <%=tea.mainFermTanksEquip %>","$ <%=tea.mainFermTanksTIC %>" ],
          ["Glucose Storage"],
          ["","Equipment", "Cost","Total Installed Costs (TIC)"],
          ["","Tank :", "$ <%=tea.glucoseStorageTankCost %>","$ <%=tea.glucoseStorageTankTIC %>" ],
          ["","Transfer Pumps :", "$ <%=tea.glucoseStorageTransferPumpsCost %>","$ <%=tea.glucoseStorageTransferPumpsTIC %>" ],
          ["","Piping :", "NA","$ <%=tea.glucoseStoragepiping %>" ],
          ["","Total for Glucose Storage:", "$ <%=tea.glucoseStorageEquip %>","$ <%=tea.glucoseStorageTIC %>" ],
          ["Acid/Base(NH3) Storage & Delivery"],
          ["","Equipment", "Cost","Total Installed Costs (TIC)"],
          ["","Acid Tank :", "$ <%=tea.acidStorageTankCost %>","$ <%=tea.acidStorageTankTIC %>" ],
          ["","Base Tank :", "$ <%=tea.ammoniaStorageTankCost%>","$ <%=tea.ammoniaStorageTankTIC %>" ],
          ["","Acid Transfer Pump :", "$ <%=tea.acidTransferPumpsCost %>","$ <%=tea.acidTransferPumpsCostTIC %>" ],
          ["","Base Transfer Pump :", "$ <%=tea.ammoniaTransferPumpsCost%>","$ <%=tea.ammoniaTransferPumpsCostTIC%>" ],
          ["","Piping :", "NA","$ <%=tea.additionPiping %>" ],
          ["","Total for Acid/Base Storage & Delivery:", "$ <%=tea.additionsEquip %>","$ <%=tea.additionsTIC %>" ],
          ["Media Preparation"],
          ["","Equipment", "Cost","Total Installed Costs (TIC)"],
          ["","Agitated Tank :", "$ <%=tea.agitatedMediaPrepTankCost %>","$ <%=tea.agitatedMediaPrepTankTIC %>" ],
          ["","Transfer Pumps :", "$ <%=tea.mediaTransferPumpsCost %>","$ <%=tea.mediaTransferPumpsCostTIC %>" ],
          ["","Heater:", "$ <%=tea.MediaWaterHeater %>","$ <%=tea.MediaWaterHeaterTIC %>" ],
          ["","Heat Exchanger:", "$ <%=tea.MediaHeatExchanger%>","$ <%=tea.MediaHeatExchangerTIC %>" ],
          ["","Piping :", "NA","$ <%=tea.mediaPiping %>" ],
          ["","Dry Chemical Skid :", "$ <%=tea.DryChemicalAdditionSkid%>","$ <%=tea.DryChemicalAdditionSkidTIC %>" ],
          ["","Total for Media Preparation:", "$ <%=tea.mediaPrepEquip %>","$ <%=tea.mediaPrepTIC %>" ],
          ["Clean in Place (CIP)"],
          ["","Equipment", "Cost","Total Installed Costs (TIC)"],
          ["","Tanks :", "$ <%=tea.CIPTankCost %>","$ <%=tea.CIPTankTIC %>" ],
          ["","Transfer Pumps :", "$ <%=tea.CIPTransferPumpsCost %>","$ <%=tea.CIPTransferPumpsCostTIC %>" ],
          ["","Filters:", "$ <%=tea.CIPFilterCost %>","$ <%=tea.CIPFilterCostTIC %>" ],
          ["","Heater:", "$ <%=tea.CIPHeaterCost%>","$ <%=tea.CIPHeaterCostTIC %>" ],
          ["","Piping :", "NA","$ <%=tea.CIPpipingTIC %>" ],
          ["","Total for Media Preparation:", "$ <%=tea.CIPEquip%>","$ <%=tea.CIPTIC %>" ],
          [""],[""],
          ["Seed Fermentation","Equipment: $<%=tea.seedEquipment %>","Total Installed Costs (TIC): $<%=tea.seedEquipmentTIC %>" ],
          [""],[""],
          ["Primary Cell Removal:","Equipment: $<%=tea.PrimaryCellRemovalEquip%>","Total Installed Costs (TIC): $<%=tea.PrimaryCellRemovalTIC %>" ],
          ["Centrifugation"],
          ["","Equipment", "Cost","Total Installed Costs (TIC)"],
          ["","Centrifuges:", "$ <%=tea.CentrifugeCost %>","$ <%=tea.CentrifugeTIC %>" ],
          ["","Piping :", "NA","$ <%=tea.Centrifugepiping %>" ],
          ["","Total for Centrifuges:", "$ <%=tea.CentrifugeEquip%>","$ <%=tea.CentrifugeEquipTIC %>" ],
          ["Broth Storage"],
          ["","Equipment", "Cost","Total Installed Costs (TIC)"],
          ["","Tanks:", "$ <%=tea.brothStorageTankCost%>","$ <%=tea.brothStorageTankTIC %>" ],
          ["","Transfer Pumps:", "$ <%=tea.brothStorageTransferPumpCost%>","$ <%=tea.brothStorageTransferPumpTIC %>" ],
          ["","Piping :", "NA","$ <%=tea.brothStoragePiping%>" ],
          ["","Total for Broth Storage:", "$ <%=tea.brothStorageEquip%>","$ <%=tea.brothStorageTIC %>" ],
          ["Heat Treatment/Cell Kill"],
          ["","Equipment", "Cost","Total Installed Costs (TIC)"],
          ["","Waste Heat Treatment Package:", "$ <%=tea.HeatTreatmentpackage%>","$ <%=tea.HeatTreatmentpackageTIC %>" ],
          [""],[""],
          ["Process Utilities:","Equipment: $<%=tea.processUtilitiesEquip%>","Total Installed Costs (TIC): $<%=tea.processUtilitiesTIC %>" ],
          ["Cooling"],
          ["","Equipment", "Cost","Total Installed Costs (TIC)"],
          ["","Cooling Tower:", "$ <%=tea.coolingTowerEquip %>","$ <%=tea.coolingTowerTIC %>" ],
          ["","Pumps :", "$ <%=tea.coolingTowerPumps%>" ,"$ <%=tea.coolingTowerPumpsTIC%>" ],
          ["","Piping :", "NA","$ <%=tea.coolingTowerPiping%>" ],
          ["","Total for Cooling:", "$ <%=tea.coolingEquip%>","$ <%=tea.coolingTIC %>" ],
          ["Boiler/Steam"],
          ["","Equipment", "Cost","Total Installed Costs (TIC)"],
          ["","Boiler Package:", "$ <%=tea.BoilerPackageCosts %>","$ <%=tea.BoilerPackageTIC %>" ],
          ["Air Handling"],
          ["","Equipment", "Cost","Total Installed Costs (TIC)"],
          ["","Air Dryer:", "$ <%=tea.AirDryer %>","$ <%=tea.AirDryingTIC %>" ],
          ["","Air Receiver :", "$ <%=tea.AirReceiver %>" ,"$ <%=tea.AirReceiverTIC %>" ],
          ["","Piping :", "NA","$ <%=tea.AirPiping%>" ],
          ["","Total for Air Handling:", "$ <%=tea.AirHandlingEquip%>","$ <%=tea.AirHandlingTIC%>" ],
          ["Water Supply"],
          ["","Equipment", "Cost","Total Installed Costs (TIC)"],
          ["","Municpal Water Tank:", "$ <%=tea.MunicpalWaterTank %>","$ <%=tea.MunicpalWaterTankTIC%>" ],
          ["","Potable Water Tank :", "$ <%=tea.PotableWaterTank %>" ,"$ <%=tea.PotableWaterTankTIC %>" ],
          ["","Softener Tank:", "$ <%=tea.SoftenerTank %>","$ <%=tea.SoftenerTankTIC%>" ],
          ["","Brine Tank :", "$ <%=tea.BrineTank %>" ,"$ <%=tea.BrineTankTIC %>" ],
          ["","Potable Water Tank :", "$ <%=tea.PotableWaterTank %>" ,"$ <%=tea.PotableWaterTankTIC %>" ],
          ["","Potable Water Cooler:", "$ <%=tea.PotableWaterCooler %>","$ <%=tea.PotableWaterCoolerTIC%>" ],
          ["","Pumps :", "$ <%=tea.MunipalWaterPump %>" ,"$ <%=tea.MunipalWaterPumpTIC %>" ],
          ["","Reverse Osmosis System:", "$ <%=tea.ROSystem %>" ,"$ <%=tea.ROSystemTIC %>" ],
          ["","Piping :", "NA","$ <%=tea.WaterPiping%>" ],
          ["","Total for Water Supply:", "$ <%=tea.WaterHandlingEquip%>","$ <%=tea.WaterHandlingTIC%>" ],
          ["Waste Water Pretreatment"],
          ["","Equipment", "Cost","Total Installed Costs (TIC)"],
          ["","Tank:", "$ <%=tea.WasteWaterTank %>","$ <%=tea.WasteWaterTankTIC%>" ],
          ["","Heater :", "$ <%=tea.WasteWaterHeater %>" ,"$ <%=tea.WasteWaterHeaterTIC %>" ],
          ["","Heat Exchanger:", "$ <%=tea.WasteWaterHeatExchanger %>","$ <%=tea.WasteWaterHeatExchangerTIC%>" ],
          ["","Pumps :", "$ <%=tea.WasteWaterHeaterPump %>" ,"$ <%=tea.WasteWaterHeaterPumpTIC %>" ],
          ["","Piping :", "NA","$ <%=tea.WasteWaterPiping%>" ],
          ["","Total for Waste Water Pretreatment:", "$ <%=tea.WasteWaterEquip%>","$ <%=tea.WasteWaterTIC%>" ],
          [""],[""],
          ["Control Systems:","Total Installed Costs (TIC): $<%=tea.controlSystems %>" ],
          [""],[""],
          ["Downstream Purification:","Total Installed Costs (TIC): $<%=tea.dspTIC %>" ],
          [""],[""],
          ["Direct Costs"],
          ["Total Installed Equipment Costs :","$<%=tea.totalInstalledEquipmentCost %>" ],
          ["Warehousing :","$<%=tea.warehousing %>" ],
          ["Site Development :","$<%=tea.siteDevelopment %>" ],
          ["Total Direct Costs :","$<%=tea.totalDirectCost %>" ],
          [""],[""],
          ["Indirect Costs"],
          ["HomeOffice :","$<%=tea.HomeOffice %>" ],
          ["Prorateable Expenses :","$<%=tea.prorateableExpenses %>" ],
          ["Field Expenses :","$<%=tea.fieldExpenses %>" ],
          ["Project Contingency:","$<%=tea.projectContingency %>" ],
          ["Other Start Up Costs:","$<%=tea.otherStartupCosts %>" ],
          ["Total Indirect Costs:","$<%=tea.totalIndirectCosts %>" ],
          [""],[""],
          ["Fixed Capital Investment (FCI) :","$<%=tea.fixedCapitalInvestment%>" ],
          ["Working Capital (WC) :","$<%=tea.workingCapital%>" ],
          ["Total Capital Investment (TCI) :","$<%=tea.totaCapitalInvestment %>" ],
 ];

    let csvContent =[];
    rows.forEach(function(rowArray) {
        let row = rowArray.join(",");
        csvContent += row + "\r\n";
    });

    download(csvContent);
    };

    //main app
    (function(){
    //button click
       const exportTEAButton = document.getElementById('exportTEA');
       exportTEAButton.addEventListener('click', exportTEA);
       })();

 </script>

</body>
</html>
