<html lang="en">
<%- include('./partials/header.ejs') %>
<body>
<%- include('./partials/nav1_user.ejs') %>

        <div class = "logo">
        <a href="#">Previous Analyses</a>
        </div>
        </div>
        <div class = "main_container">
        <div class="content">


    <header><h2>&nbsp TEA History <br></h2>
    <header><h3>&nbsp Contains Analyses from all Users <br></h3>
    <div class ="break"><br></div>

        <% if (teas.length >0){ %>
        <% teas.forEach(tea => { %>
        <div class ="item">
        <a class="single" href="/calculator/tea_log/<%=tea._id %>">
        <h3>Product: <%= tea.productName %></h3>
        <h3>MSP: $<%= tea.productMSP %>/kg</h3>
        <h3>Created: <%= tea.createdAt %></h3>
        </a></div>
        <div class ="break"><br></div>
        <% }) %>
        <%} else { %>
        <p> There are no analyses to display.... </p>
        </div>
        <% } %>

<br>
</div>
<br>
<%- include('./partials/nav2.ejs') %>
</body>
</html>

